html {
  font-family: "Calibri", sans-serif;
  font-size: 16px;
  color: #464646;
}
            /* Navigation */
header {
  z-index: 1;
  width: 100%;
  background-color: white;
}
div {
  display: block;
}
header nav ul {
  display: flex;
}
header, nav {
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
nav li {
  padding-left: 1rem;
}
header .container {
  display: flex;
  align-items: center;
  padding: 1.5rem;
}
header .logo {
  flex: 1;
}
.mobile {
  display: none;
}
.text-logo {
  font-weight: bold;
}
.nav, .desktop {
  color: #464646;
}
.nav:hover {
  text-decoration: underline;
}
            /* Banner */
h1 {
  font-size: 3rem;
  font-weight: bold;
}
h1, h2, h3, h4 {
  color: #464646;
}
.banner {
  background-color: #e8e8e8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img1 {
  position: relative;
  width: 57.8%;
  padding-left: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 1.5rem;
}
.cta {
  width: 40%;
  padding-right: 3rem;
  padding-top: 1rem;
}
.cta-subtitle {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.button {
  text-align: center;
  background-color: #464646;
  padding-top: .8rem;
  padding-bottom: .8rem;
  width: 100%;
}
.button:hover {
  background-color: #969696;
}
.start {
  color: white;
}
            /* Main Content */
h2 {
  font-size: 1.9rem;
  font-weight: 900;
  text-align: center;
}
.main-content {
  background-color: white;
  display: flex;
  line-height: 130%;
}
.img2, .content {
  width: 100%;
  position: relative;
}
.main-article {
  width: 60%;
  padding-left: 1.5rem;
  padding-top: 1rem;
  padding-right: 1.5rem;
}
.description1, h2 {
  padding-top: 1rem;
}
.author {
  padding-top: 1rem;
}
.description1 {
  font-size: 1.2rem;
}
              /* Side bar */
h3 {
  font-size: 1.5rem;
  font-weight: bold;
}
.sidebar {
  width: 40%;
  border-left: 1px solid #e8e8e8;
}
.sub-article {
  display: flex;
  align-items: flex-start;
  padding: 1rem 1rem;
  border-bottom: 2px solid #e8e8e8;
}
#sub-article3 {
  display: flex;
  align-items: flex-start;
  padding: 1.2rem 1rem;
  border-bottom: none;
}
#sub-article3:hover, .sub-article:hover {
  background-color: #e8e8e8;
}
.img3 {
  width: 35%;
  height: auto;
}
.sidebar-info {
  width: 65%;
  padding-left: 2rem;
  padding-top: 2.5rem;
}
.description2 {
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.read-link {
  color: #60a5cd;
}
.read-link:hover {
  text-decoration: underline;
}
.sidebarmobile {
  display: none;
}
            /* Gallery */
.gallery {
  background-color: #e8e8e8;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 9rem;
}
h4 {
  font-size: 1.1rem;
  font-weight: bold;
  padding-bottom: .5rem;
}
.gallery-title {
  padding-left: 18rem;
  padding-right: 18rem;
  padding-bottom: 1rem;
}
.subject {
  width: 27%;
  padding: 2rem 1rem;
}
.subject img {
  height: auto;
  width: 100%;
  display: block;
}
.subject span {
  display: block;
}
.subject p {
  display:block;
}
.description3 {
  background-color: white;
  padding: 1rem;
  line-height: 130%;
  height: 7.5rem;
}
.description3 span {
  padding-bottom: .5rem;
}
            /* Exhibit */
.exhibit {
  background-color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 9rem;
}
.video-content {
  width: 60%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
}
video {
  max-width: 100%;
}
.video-title {
  padding-top: 1.5rem;
  padding-bottom: .5rem;
}
            /* sidebar2 */
.sidebar2 {
  width: 40%;
}
.sub-article2 {
  display: flex;
  align-items: flex-start;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .7rem;
  padding-bottom: 1rem;
}
.sub-article3 {
  display: flex;
  align-items: flex-start;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.sub-article2:hover, .sub-article3:hover{
  background-color: #e8e8e8;
}
              /* footer */
footer {
  border-top: 1px solid #e8e8e8;
  padding: 1rem 1.5rem;
  height: 4rem;
  display: block;
}
.footer-content {
  display: flex;
}
footer .copyright {
  flex-grow: 1;
}
.footer-link1 {
  padding-right: .5rem;
}
.footer-link1:hover, .footer-link:hover {
  text-decoration: underline;
}
footer a {
  color: #464646;
}

/********* MEDIA QUERIES **********/

@media only screen and (max-width: 1160px) {

              /* Banner */
.banner {
  display: flex;
  flex-direction: column;
}
.banner img {
  width: 100%;
  padding: 0;
}
.cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
  width: 60%;
}
.cta h1, .cta-subtitle {
  padding-left: 20%;
}
.start-here {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 59%;
}
.button {

}
            /* main-content */
.img2, .content {
  width: 90%;
}
.description1 {
  font-size: 1rem;
}
h3 {
  padding-top: 1rem;
}
              /* Side bar */
.img3 {
  max-width: 35%;
}
.sidebar-info {
  width: 65%;
  padding-left: 2rem;
  padding-top: 1rem;
}
#sub-article3 {
  display: flex;
  align-items: flex-start;
  padding: 1rem 1rem;
  border-bottom: none;
}
              /* Gallery */
  .gallery-title {
    padding-bottom: 1rem;
    display: inline;
  }
  h4 {
    font-size: 1rem;
    font-weight: bold;
    padding-bottom: .5rem;
  }
  .description3 span {
    display: none;
  }
  .description3 p {
    font-size: 1rem;
  }
              }
@media only screen and (max-width: 1053px) {
              /* gallery */
  .gallery-title {
    padding-left: 11rem;
    padding-right: 11rem;
  }
}
@media only screen and (max-width: 925px) {
              /* main-content */
  .main-article {
    display: none;
  }
              /* sidebar mobile */
  .sidebar {
    display: none;
  }
  .sidebarmobile {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #e8e8e8;
    padding-top: 2rem;
    padding-left: 6.5%;
    padding-right: 6.5%;
  }
  .sub-articlemobile {
    padding-bottom: 1rem;
    width: 60%;
  }
  .img3-mobile {
    max-width: 25rem;
    width: 120%;
  }
  .sidebar-info-mobile {
    max-width: 25rem;
  }
  .sidebar-info-mobile:hover {
    background-color: #e8e8e8;
  }
}
@media only screen and (max-width: 905px) {
              /* Gallery */
  .gallery {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #e8e8e8;
  }
  .subject {

    width: 100%;
    padding: .5rem 1rem;
  }
  .subject img {
    display: none;
  }
  .subject p {
    display: none;
  }
  .subject h4 {
    font-size: 1.5rem;
    padding-top: .7rem;
  }
  .description3:hover {
    background-color: white;
    border: 2px solid #e8e8e8;
  }
  .description3 {
        min-width: 200px;
    background-color: #e8e8e8;
    padding: 1rem;
    height: 3rem;
  }
}
@media only screen and (max-width: 860px) {
            /* Gallery */
  .gallery-title {
    padding-left: 8rem;
    padding-right: 8rem;
    padding-bottom: 1rem;
  }
}
@media only screen and (max-width: 848px) {
            /* Exhibit */
    .video {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .sidebar2 {
      display: none;
    }
}
@media only screen and (max-width: 750px) {
            /* navigation */
.desktop {
  display: none;
}
.text-logo {
  display: none;
}
nav a {
    vertical-align: bottom;
    line-height: 1.6;
    font-size: 1rem;
}
header .mobile li {
    padding-right: .2rem;
}
header .mobile {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
ul {
    list-style: none;
  }
            /* Gallery */
  .gallery-title {
    min-width: 250px;
    text-align: center;
    padding: 1rem;
  }
}
@media only screen and (max-width: 668px) {
  .cta {
    width: 80%;
  }
  h1 {
    font-size: 2rem;
  }
  .cta-subtitle {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 435px) {
  .cta {
    width: 90%;
    padding-left: 2.5rem;
  }
  .subject {
    width: 200%;
    min-width: 8rem;
  }
}
