html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
                          /* Navigation */
header {
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: white;
}
header, nav, div {
  display: block;
}
header nav ul {
    display: flex;
}
a {
    color: #464646;
    text-decoration: none;
}
ul {
  list-style: none;
}
nav li {
    padding-left: 1rem;
}
header .container {
    display: flex;
    align-items: center;
    padding: 1.5rem;
}
header .logo {
    flex: 1;
}
.mobile {
  display: none;
}
                      /* Main Content */

                      /* Banner */
h1 {
  color: #464646;
  font-size: 3rem;
  font-weight: bold;
}
.banner {
  background-color: #e8e8e8;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.content {

}
.img1 {
    position: relative;
    width: 60%;
    padding: 2rem 1.5rem;
}
.cta {
    width: 40%;
}
